
  <div class="footer">
    <p>Deborah & Benito</p></br></br>
    <strong>Disclaimer: </strong> We cannot and do not guarantee the accuracy of the Information provided.
 </br></br>
 </div>
</body>
</html>
