<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" type="text/css" href="./add.css">
    <link rel="stylesheet" href="./places.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <title>AddMarker</title>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5tRp77iq57jfVe2zOigZVXwdrHDVo5Wo&libraries=places&callback=initAutocomplete">
    </script>
    <script>

    //MAP INITIALISATION
    var map;
    const GOA_BOUNDS={
                      north: 15.83,
                      south: 14.92,
                      west: 73.6,
                      east: 74.36,
                      };
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 15.4, lng: 73.8},
          zoom: 13,
          restriction: {
            latLngBounds: GOA_BOUNDS,
            strictBounds: false,
          },
          mapTypeId: 'roadmap'
        });
        
            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.LEFT_TOP].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
              searchBox.setBounds(map.getBounds());
            });

            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }

              // Clear out the old markers.
              markers.forEach(function(marker) {
                marker.setMap(null);
              });
              markers = [];

              // For each place, get the icon, name and location.
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function(place) {
                if (!place.geometry) {
                  console.log("Returned place contains no geometry");
                  return;
                }
                var icon = {
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                  map: map,
                  icon: icon,
                  title: place.name,
                  position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                  // Only geocodes have viewport.
                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });
              map.fitBounds(bounds);
            });


            //SETTING MARKER ON CLICK ON MAP
                                        var markersArray = [];

                                        // add a click event handler to the map object
                                        google.maps.event.addListener(map, "click", function(event)
                                        {
                                            // place a marker
                                            placeMarker(event.latLng);

                                            document.getElementById("Latt").value = event.latLng.lat();
                                            document.getElementById("Long").value = event.latLng.lng();
                                        });

                                        function placeMarker(location) {
                                        // first remove all markers if there are any
                                        deleteOverlays();

                                        var marker = new google.maps.Marker({
                                            position: location, 
                                            map: map
                                        });

                                        // add marker in markers array
                                        markersArray.push(marker);

                                        //map.setCenter(location);
                                        }

                                        // Deletes all markers in the array by removing references to them
                                        function deleteOverlays() {
                                        if (markersArray) {
                                            for (i in markersArray) {
                                                markersArray[i].setMap(null);
                                            }
                                        markersArray.length = 0;
                                        }
                                        }
          }

    </script>

</head>
<body>
    <div class="header">
        <a class="logo"><img src="./icon.png">
        <div class="header-right">
          <h1>Covid-Goa-Mapped</h1>
        </div>
        </a>
    </div>
    <div class="container">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div class="container1" id="map">
        </div>

        <div class="container2">
            <form action="/action_page.php">
                <div class="row">
                  <div class="col-25">
                    <label for="ShopName">Shop Name</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="SName" name="ShopName" placeholder="Shop name..">
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="HomeDelivery">Home Delivery</label>
                  </div>
                  <div class="col-75">
                    <select id="HD" name="HD">
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="ItemType">Type Of Items Sold</label>
                  </div>
                  <div class="col-75">
                    <div class="dropdown">
                      <input type="text" id="Items" placeholder="Enter/select items">
                      <div class="dropdown-content">
                      <a href="#"><input type="checkbox" value="Vegetable">Vegetable</a>
                      <a href="#"><input type="checkbox" value="Fruits">Fruits</a>
                      <a href="#"><input type="checkbox" value="Milk">Milk</a>
                      <a href="#"><input type="checkbox" value="Newspaper">Newspaper</a>
                      <a href="#"><input type="checkbox" value="Poultry">Poultry</a>
                      <a href="#"><input type="checkbox" value="Meat">Meat</a>
                      <a href="#"><input type="checkbox" value="Grocerry">Grocerry</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="PhoneNo">Phone Number</label>
                  </div>
                  <div class="col-75">
                    <input type="text"  name="PhoneNo" placeholder="Delivery Number..">
                  </div>
                </div>
                <div class="row">
                
                </div>
                <div class="row">
                  
                  <div class="col-75">
                  <input type="submit" value="Submit">
                  </div>
                </div>
                <input type="hidden" id="Latt" name="Latt" value="">
                <input type="hidden" id="Long" name="Long" value="">
              </form>
        </div>
        
    </div>
    <div class="footer">
        <p>Deborah & Benito</p>
     </div>
    
</body>
</html>