<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" type="text/css" href="./add.css">
    <link rel="stylesheet" href="./places.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <title>Covid-Goa-Mapped||Find shops open in your area</title>
    
      <script src="./addmap.js">
      </script>
       <script>
        function validate(){
        var isValid = true;
        if(!document.getElementById('SName').value.trim().length){
            isValid = false;
            alert('Please enter ShopName');
        }
        else if(!document.getElementById('Items').value.trim().length){
        isValid = false;
            alert('Please enter item/items');
        }
      return isValid;

        function check(num) {
            var checkboxes = document.getElementsByClassName("checkboxes");
            var chec=checkboxes[num];
            if(chec.checked==true)
            chec.checked=false
            else
            chec.checked=true
          }
    
    }
      </script> 
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5tRp77iq57jfVe2zOigZVXwdrHDVo5Wo&libraries=places&callback=initAutocomplete">
      </script>
    

</head>
<body>
  <script>
    function check(num) {
        var checkboxes = document.getElementsByClassName("checkboxes");
        var chec=checkboxes[num];
          if(chec.checked==true)
            chec.checked=false
          else
            chec.checked=true
    }
  </script>
    <div class="header">
        <a class="logo" href="/"><img src="./icon.png">
        <div class="header-right">
          <h1>Covid-Goa-Mapped</h1>
        </div>
        </a>
    </div>
    <div class="about-us">
      <h3>Tap on the map to place a marker for a shop which is open</h3>
    </div>
    <div class="container">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div class="container1" id="map">
        </div>

        <div class="container2">
            <form action="/add" method="POST" enctype='application/json' onsubmit="return validate()">
                <div class="row">
                  <div class="col-25">
                    <label for="ShopName">Shop Name</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="SName" name="ShopName" placeholder="Shop name..">
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="HomeDelivery">Home Delivery</label>
                  </div>
                  <div class="col-75">
                    <select id="HD" name="HD">
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="ItemType">Type Of Items Sold</label>
                  </div>
                  <div class="col-75">
                    <div class="dropdown">
                      <input type="text" name="itemCus" id="Items" placeholder="Enter/select items">
                      <div class="dropdown-content">
                        <button type="button" class="check" onClick="check(0)"><input id="chec" class="checkboxes" name="item[0][items]" type="checkbox" value="Vegetable">Vegetable</button>
                        <button type="button" class="check" onClick="check(1)"><input class="checkboxes" name="item[1][items]" type="checkbox" value="Fruits">Fruits</button>
                        <button type="button" class="check" onClick="check(2)"><input class="checkboxes" name="item[2][items]" type="checkbox" value="Milk">Milk</button>
                        <button type="button" class="check" onClick="check(3)"><input class="checkboxes" name="item[3][items]" type="checkbox" value="Newspaper">Newspaper</button>
                        <button type="button" class="check" onClick="check(4)"><input class="checkboxes" name="item[4][items]" type="checkbox" value="Fish">Fish</button>
                        <button type="button" class="check" onClick="check(5)"><input class="checkboxes" name="item[5][items]" type="checkbox" value="Poultry">Poultry</button>
                        <button type="button" class="check" onClick="check(6)"><input class="checkboxes" name="item[6][items]" type="checkbox" value="Meat">Meat</button>
                        <button type="button" class="check" onClick="check(7)"><input class="checkboxes" name="item[7][items]" type="checkbox" value="Grocerry">Grocerry</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="PhoneNo">Phone Number</label>
                  </div>
                  <div class="col-75">
                    <input type="text"  name="PhoneNo" placeholder="Delivery Number..">
                  </div>
                </div>
                <div class="row">
                
                </div>
                <div class="row">
                  <div class="col-75">
                  <input type="submit" value="Submit" >
                  </div>
                </div>
                <input type="hidden" id="Latt" name="Latt" value="">
                <input type="hidden" id="Long" name="Long" value="">
              </form>
        </div>
        
    </div>
    <div class="footer">
      <p><i>Developed by 
        <a href="https://www.instagram.com/deb_el_mendes/" target="_blank">Deborah</a> & 
        <a href="https://www.instagram.com/chickoocoutinho/" target="_blank">Benito </a></i></p>
      <div class="disclaimer">
       <strong>Disclaimer: </strong>
        We cannot and do not guarantee the accuracy of the Information provided.<br>
        <i><a href="https://icons8.com/" target="_blank">Icons from icons8</a></i>
      </div>
      <a href="https://github.com/Deb77/Covid-Goa-Mapped" target="_blank">
        <img src="./github.png" alt="gitbub icon">
      </a>
   </div>
    
</body>
</html>