<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" type="text/css" href="./add.css">
    <link rel="stylesheet" href="./places.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <title>AddMarker</title>
    
      <script src="./addmap.js">
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5tRp77iq57jfVe2zOigZVXwdrHDVo5Wo&libraries=places&callback=initAutocomplete">
      </script>
    

</head>
<body>
    <div class="header">
        <a class="logo"><img src="./icon.png">
        <div class="header-right">
          <h1>Covid-Goa-Mapped</h1>
        </div>
        </a>
    </div>
    <div class="container">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div class="container1" id="map">
        </div>

        <div class="container2">
            <form action="/add" method="POST">
                <div class="row">
                  <div class="col-25">
                    <label for="ShopName">Shop Name</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="SName" name="ShopName" placeholder="Shop name..">
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="HomeDelivery">Home Delivery</label>
                  </div>
                  <div class="col-75">
                    <select id="HD" name="HD">
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="ItemType">Type Of Items Sold</label>
                  </div>
                  <div class="col-75">
                    <div class="dropdown">
                      <input type="text" id="Items" placeholder="Enter/select items">
                      <div class="dropdown-content">
                      <a href="#"><input type="checkbox" value="Vegetable">Vegetable</a>
                      <a href="#"><input type="checkbox" value="Fruits">Fruits</a>
                      <a href="#"><input type="checkbox" value="Milk">Milk</a>
                      <a href="#"><input type="checkbox" value="Newspaper">Newspaper</a>
                      <a href="#"><input type="checkbox" value="Poultry">Poultry</a>
                      <a href="#"><input type="checkbox" value="Meat">Meat</a>
                      <a href="#"><input type="checkbox" value="Grocerry">Grocerry</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="PhoneNo">Phone Number</label>
                  </div>
                  <div class="col-75">
                    <input type="text"  name="PhoneNo" placeholder="Delivery Number..">
                  </div>
                </div>
                <div class="row">
                
                </div>
                <div class="row">
                  
                  <div class="col-75">
                  <input type="submit" value="Submit">
                  </div>
                </div>
                <input type="hidden" id="Latt" name="Latt" value="">
                <input type="hidden" id="Long" name="Long" value="">
              </form>
        </div>
        
    </div>
    <div class="footer">
        <p>Deborah & Benito</p>
     </div>
    
</body>
</html>