<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css" type="text/css">
    <link rel="stylesheet" href="./map.css" type="text/css">
    <link rel="stylesheet" href="./places.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <title>Covid-Goa-Mapped||Homepage</title>
</head>
<body>
<script src="./index.js" ></script>
      <script > 
                              //start of google maps script
      var InforObj= [];     
      var map;
      const GOA_BOUNDS={
                  north: 15.83,
                  south: 14.92,
                  west: 73.6,
                  east: 74.36,
                  };
function initAutocomplete() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 15.4, lng: 73.8},
      zoom: 13,
      restriction: {
        latLngBounds: GOA_BOUNDS,
        strictBounds: false,
      },
      options: {
        clickableIcons: true
      },
      mapTypeId: 'roadmap'
    });
    
        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.LEFT_TOP].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
                                                  //to add infowindow for each marker
  const shopData = JSON.parse('<%-JSON.stringify(data)%>');
    for (var i = 0; i < shopData.length; i++) {
        var location = shopData[i];
        console.log(location);
        var myLatLng = new google.maps.LatLng(location.latitude , location.longitude);
        const marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: location.shopname  
        });
        let content= `<div id="bodyContent">
                    <p>
                        <strong>Shopname: </strong>${location.shopname} </br>
                        <strong>Home Delivery: </strong>
                        ${ location.home_deliver? "Yes":"No" } 
                        </br>
                        <strong>Items Sold: </strong> ${location.items}</b></br>
                        <strong>Phone Number: </strong>
                        ${ location.phone_number===0 ?"-": location.phone_number }
                        </br>
                        <i id="last_open">last open on ${location.last_open.slice(0,10)} 
                        </i> </br></br>
                        <a href="javascript:updateDate(${location._id})"><strong>Was the shop open today?</strong></a>
                    </p>                
                    </div>`
        const infowindow = new google.maps.InfoWindow({
            content: content,
            });

            marker.addListener('click', function () {
            closeOtherInfo();
            infowindow.open(marker.get('map'), marker);
            InforObj[0] = infowindow;
            });
    }
}
                                        //end of google maps scrit
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5tRp77iq57jfVe2zOigZVXwdrHDVo5Wo&libraries=places&callback=initAutocomplete">
      </script>
      <noscript>Sorry, your browser does not support JavaScript!</noscript>


    <div class="header">
        <a class="logo"><img src="./icon.png">
        <div class="header-right">
          <h1>Covid-Goa-Mapped</h1>
        </div>
        </a>
    </div>
    <div class="emergancy-info">
      Food Helpline No. For North Goa : +91-9423890077 ||
      Food Helpline No. For South Goa : +91-9423890066 
    </div>
    <div class="flex-container">
          <div class="about-us">
          <h3>Find Shops open in your area in the Map below.</h3>
            All the data on this site is provided 
            <a href="https://en.wikipedia.org/wiki/Crowdsourcing"> Crowdsourced.  </a>    
            Data is provided by users and directly reflected on our 
            website ,and is not verified by us.
            
            </br>(Tap on marker for more Information)</br></br>
            <a class="whatsapp-button"
                href= "https://api.whatsapp.com/send?text=Covid-Goa-Mapped%20helps%20you%20find%20Stores%20open%20in%20your%20Area%20in%20
                this%20hour%20of%20need.%0D%0ALog%20on%20to%20Covid-Goa-Maaped%20now.%0D%0A%0D%0Alink" 
                data-action="share/whatsapp/share" >
              <div class="share-text">Share Via Whatsapp</div>
              <img class="whatsapp-icon" src="./whatsapp.png" alt="whatsapp-icon" />
          </a>
           </div> 
        
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map"></div>

      <div class="add_text text-center">
        Know of any shops open?  
        <button class="add_button">Add Shop Information</button>
      </div>
      <div class="about-us text-center">
        Please help us improve the Information on this site by 
            <a href="#">Contributing </a>or 
            <a href="mailto:benito.coutinho@gmail.com? subject= Discrepancy in Shop Listing">
            reporting any Discrepancy 
             </a>       with any of the shops listed below.
      </div>
    </div>
    <div class="footer">
       <p>Deborah & Benito</p></br></br>
       <strong>Disclaimer: </strong> We cannot and do not guarantee the accuracy of the Information provided.
    </br></br>
    </div>
</body>
</html>